
body {
  font-family: "Helvetica Neue";
}
p {
  font-size: 19px !important;
  font-weight: 300 !important;
}
.display-none {
  display: none !important;
}
.profile-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.footer .nav-link {
  color: rgba(0, 0, 0, .55);
}
.footer .nav-link:hover {
  color: rgba(0, 0, 0, .7);
}
footer p {
  font-size: 16px !important;
}
footer h5 {
  text-transform: uppercase;
  margin-bottom: 15px;
}
.edit-profile .input-group-text {
  width: 160px;
}
.login-form a {
  text-decoration: none;
}
.login-form .btn-outline-secondary:hover {
  color: #fff;
  background-color: #569aff;
  border-color: #569aff;
}

